.exercise {
  margin-bottom: 2rem;
  color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  background: var(--noisy-back);

  &__header {
    display: grid;
    grid-template-columns: 1fr min-content;
    justify-items: center;
    align-items: center;

    color: rgba(0, 0, 0, 0.42);
    text-transform: capitalize;
    margin: 0 0 1rem 0;
    padding: 5px;
    font-size: 1rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    h2 {
      margin: 0;
    }
  }

  &__info {
    text-align: center;
  }

  &__info-toggles .icon {
    display: inline;
    padding-right: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
  }

  &__content {
    display: flex;
    padding-bottom: 7px;
    justify-content: center;
  }
}

.warm-up-exercise {
  background: var(--noisy-back),
    linear-gradient(to right bottom, rgba(209, 71, 120, 0.8), rgba(122, 25, 85, 0.8));

  &:hover {
    background: var(--noisy-back), linear-gradient(to right bottom, #cf4676, #851b5c);
  }
}

.strength-exercise {
  background: var(--noisy-back),
    linear-gradient(to right bottom, rgba(94, 153, 117, 0.8), rgba(58, 94, 95, 0.8));

  &:hover {
    background: var(--noisy-back), linear-gradient(to right bottom, #5e9975, #395e5e);
  }
}

.skill-exercise {
  background: var(--noisy-back),
    linear-gradient(to right bottom,  rgba(62, 120, 151, 0.8), rgba(46, 73, 108, 0.8));

  &:hover {
    background: var(--noisy-back), linear-gradient(to right bottom, #3e7897, #2e496c);
  }
}

.secondary {
  grid-column: span 3;
  font-weight: 100;
  font-size: 1.3rem;
  color: rgb(240, 240, 240);
  text-align: center;
}
