.monitor {
  flex: 1 1 auto;
  display: grid;
  justify-items: center;

  &__name {
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffffe6;
  }

  &__changers {
    display: grid;
    grid-template-columns: max-content 25px;
    column-gap: 2px;
    justify-items: center;
    align-items: center;

    margin-top: 10px;
  }

  &__value {
    padding-top: 3px;
    border: none;
    font-size: 2rem;
  }

  &__btns {
    display: grid;
  }

  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid transparent;
    border-radius: 3px;
    transition: all 0.2s ease;

    &--up {
      padding: 0 4px 1px 4px;
    }
    
    &--down {
      padding: 1px 4px 0 4px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      box-shadow: 0 2px 0px rgba(0, 0, 0, 0.6);
    }

    &:active {
      transform: translateY(2px);
      box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    }
  }
}
